<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ตะกร้า</button>
  <span class="badge badge-primary">{{ badge }}</span>
  <div class="row">
    <div class="card col-3" *ngFor="let item of product">
      <div class="card-body">
        <h5 class="card-title">
          {{ item.Product_id }} {{ item.Product_name }}
        </h5>
        <!-- <img src="assets/image/{{item.Product_img}}" width="100%"> -->
        <p class="card-text">{{ item.Product_desc }}</p>
        <p class="card-text">{{ item.Product_price }}</p>
      </div>
      <button (click)="addCart(item)">หยิบฉัน</button>
    </div>
  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ตะกร้า</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>ชื่อสินค้า</th>
              <th>จำนวน</th>
              <th>ราคา</th>
              <th>แก้ไข</th>
            </tr>
            <tr *ngFor="let item of cart; let i = index">
              <td>{{ item.Product_name }}</td>
              <td>
                <button type="button" class="btn btn-secondary" (click)="decrease(item)">-</button>
                {{ item.Product_amount }}
                <button type="button" class="btn btn-secondary" (click)="increase(item)">+</button>
              </td>
              <td>{{ item.Product_price * item.Product_amount }}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="delCart(item, i)">ลบ</button>
              </td>
            </tr>
          </table>

          <p>ราคารวม {{ totalPrice }} บาท</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <a href="stepper"><button type="button" class="btn btn-primary">Save changes</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
